
$theme-colors: (
  'primary': #2c86f5,
  'secondary': #ced6e0,
  'success': #10ac84,
  'danger': #e03f3f,
  'warning': #ff9f43,
  'info': #0abde3,
  'dark': #222f3e,
  'light': #edf2f7,
  'link': #2178d1
);


$body-color: #393550;
$body-bg: #f4f5f7;
$active-color: #4c4f53;


$sidebar-bg: #fafafa;
$sidebar-menu-color: #ada6a3;
$sidebar-menu-active-color: #ef871f;
$sidebar-menu-icon-active-color: #ef871f;
$main-background: linear-gradient(120deg, #396afc, #2948ff);