body {
    background-color: $body-bg;
}
#app {
    @apply overflow-x-hidden;
}
.app {
}
#content {
    padding-bottom: 2rem;
    transition: all .5s;
    padding-left: 290px;
    flex-grow: 1;
    @apply w-full  min-h-screen;

    .main-content {
        @apply px-4 mt-8
    }
}
.section-title {
    @apply mt-12 text-lg font-medium ml-4;
}
.section-description {
    @apply text-gray-600 text-sm ml-4 mb-8;
}
.hide-sidebar {
    top: 10px;
    right: 10px;
}
@media screen and (max-width: 767px) {
    #content {
        @apply pl-0
    }
}
